{% extends 'base.html' %}
{% load static %}

{% block content %}


    {% if messages %}
    <div class="alert alert-success " role="alert">
    {% for message in messages %}
        <p align="justify"><h1>{{ message }}</h1></p>
    {% endfor %}
    </div>
    {% endif %}

<table class="table">
  <tbody>
    <tr>
      <td>
          <a href=""><img src="{% static 'home/movie1.jpg' %}" class="rounded float-start" alt="..." ></a>
          <p class="indent"><button type="button" class="btn btn-outline-secondary float-start">21:50</button></p>
      </td>
      <td>
          <a href=""><img src="{% static 'home/movie4.jpg' %}" class="rounded float-end" alt="..." ></a>
         <p class="indent"><button  type="button" class="btn btn-outline-secondary float-end"> <a href="{% url 'home:hall' %}">14:00</a></button></p>
          <p class="indent"><button type="button" class="btn btn-outline-secondary float-end">18:00</button></p>
      </td>
    </tr>
    <tr>
      <td>
          <a href=""><img src="{% static 'home/movie3.jpg' %}" class="rounded float-start" alt="..." ></a>
          <p class="indent"><button type="button" class="btn btn-outline-secondary float-start">20:15</button></p>
          <p class="indent"><button type="button" class="btn btn-outline-secondary float-start">16:40</button></p>
      </td>
      <td>
          <a href=""><img src="{% static 'home/movie2.jpg' %}" class="rounded float-end" alt="..." ></a>
          <p class="indent"><button  type="button" class="btn btn-outline-secondary float-end">12:20</button></p>
      </td>
    </tr>
  </tbody>
</table>
{% endblock %}