{% extends 'base.html' %}
{% load static %}

{% block content %}


    {% if messages %}
    <div class="alert alert-success " role="alert">
    {% for message in messages %}
        <p align="justify"><h1>{{ message }}</h1></p>
    {% endfor %}
    </div>
    {% endif %}

<table class="table">
  <tbody>
    <tr>
      <td>
          <a href=""><img src="{% static 'home/movie1.jpg' %}" class="rounded float-start" alt="..." ></a>
          <p class="indent"><a href="/hall/{{session.5.time}}"><button type="button" class="btn btn-outline-secondary float-start">{{session.5.time}}</button></a></p>
      </td>
      <td>
          <a href=""><img src="{% static 'home/movie4.jpg' %}" class="rounded float-end" alt="..." ></a>
          <p class="indent"><a href="/hall/{{session.0.time}}"> <button  type="button" class="btn btn-outline-secondary float-end"> {{session.0.time}}</button></a></p>
          <p class="indent"><a href="/hall/{{session.1.time}}"><button type="button" class="btn btn-outline-secondary float-end">{{session.1.time}}</button></a></p>
      </td>
    </tr>
    <tr>
      <td>
          <a href=""><img src="{% static 'home/movie3.jpg' %}" class="rounded float-start" alt="..." ></a>
         <p class="indent"> <a href="/hall/{{session.2.time}}"><button  type="button" class="btn btn-outline-secondary float-start">{{session.2.time}}</button></a></p>
          <p class="indent"><a href="/hall/{{session.3.time}}"><button  type="button" class="btn btn-outline-secondary float-start">{{session.3.time}}</button></a></p>
      </td>
      <td>
          <a href=""><img src="{% static 'home/movie2.jpg' %}" class="rounded float-end" alt="..." ></a>
          <a href="/hall/{{session.4.time}}"><p class="indent"><button  type="button" class="btn btn-outline-secondary float-end">{{session.4.time}}</button></p></a>
      </td>
    </tr>
  </tbody>
</table>

{% endblock %}