{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="container">
    <img src="{% static 'home/movie1.jpg' %}" class="rounded float-start" alt="..." width="500" height="600">
    <img src="{% static 'home/movie2.jpg' %}" class="rounded float-end" alt="..." width="500" height="600">
    <img src="{% static 'home/movie3.jpg' %}" class="rounded float-start" alt="..." width="500" height="600">
    <img src="{% static 'home/movie4.jpg' %}" class="rounded float-end" alt="..." width="500" height="600">
</div>

{% endblock %}