.indent {
   margin: 0 0 20rem;
}

input[type="checkbox"]:disabled {
  background: #808080;
}

input[type="checkbox"]:hover {
  background: #808080;
}

input+div{display:none;}
input:hover+div{display:inline;}